:root {
    --dtu-red: #B50202;
    --dtu-green: #1FD082;
    --dtu-red-light: #cc3737;
    --footer-border: black;
}

/* Tilladder brug af info, danger, warning og success formattering af gritter notifikationer */
.gritter-info > div,
.gritter-danger > div,
.gritter-warning > div,
.gritter-success > div{
    background: none !important;
}
.gritter-info > div.gritter-item,
.gritter-danger > div.gritter-item,
.gritter-warning > div.gritter-item,
.gritter-success > div.gritter-item{
    color: #eee !important;
    font-size: 13px !important;
}
.gritter-info{ background-color: rgba(184, 218, 255, .8) !important; }
.gritter-danger{ background-color: rgba(217, 83, 79, .8) !important; }
.gritter-warning{ background-color: rgba(240, 173, 78, .8) !important; }
.gritter-success{ background-color: rgba(92, 184, 92, .8) !important; }

/* Main styling af siden */
html{  }
body{  }
main{ max-width: 750px; margin: 0 auto; }
button{ cursor: pointer; }
.button{ line-height: 2em; cursor: pointer; border-radius: 5px; background: var(--dtu-red); color: white; }
.button:hover{ background: var(--dtu-red-light); }
table{ width:100%; border-collapse: collapse; }
table thead{  }
table thead tr { background-color: #dddddd; }
table thead tr th { padding: 0.3em 0;}
table tbody{  }
table tbody tr{ border: none  }
table tbody tr:nth-child(odd){  }
table tbody tr:nth-child(even){ background-color: #eeeeee; }
table tbody tr td{ padding: 0.3em 0; text-align: center}
tr { border: none; }
td {
    border: solid 1px #dddddd;
}
label{ font-weight: bold; line-height: 1.5em; }
input:not([type=checkbox]){ width: 50% }
main #login{ text-align: center; }
main #menu{ text-align: center; }
.login-button{ margin: 0 15% 1.5em; }
.tilbage-button{width: 20%; float:left;}
.menu-button{ display: none; margin: 0 15% 1.5em; }
#bruger-tabel{  }
footer{ max-width: 750px; margin: 1em auto 0; display: none; text-align: center; border-top: 1px solid var(--footer-border); padding-top: 0.5em; }
footer .logout-button{ margin-left: 80%; width: 20%; }